// mobile
.recipe-container {
  .intro {
    h2 {
      font-size: 1.1em;
      margin-bottom: 5px;
    }
    .recipe-image {
      margin: 0;
      margin-right: auto;
      margin-left: auto;
      overflow: hidden;
      outline: 4px solid $grDay;
      &:hover {
        outline: 8px solid $dark-color;
      }
      img {
        width: 100%;
      }
    }
  }
  .content {
    padding: 5%;
    padding-top: 2%;
    ul li {
      margin-left: 2%;
    }
  }
}

// desktop
@media screen and (min-width: $break-point-large) {
  .recipe-container {
    .intro {
      h2 {
        font-size: 2em;
        margin-bottom: 25px;
      }
      .recipe-image {
        width: 33.3333%; //300/900
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
        float: left;
        img {
          width: 100%;
        }
      }
    }
    .content {
      width: 66.66666%; //600/900
      float: right;
      padding: 0;
      .description {
        padding: 6%;//20/400
        padding-bottom: 0;
        padding-top: 0;
      }
      h3 {
        padding-left: 3%;
        margin: 0;
        font-size: .9em
      }
      ul {
        padding: 1%;
      }
      ul li {
        float: left;
      }
    }
    footer {
      width: 50%;
      float: left;
      p {
        padding: 0;
      }
    }
  }

  .recipe-container.active {
    width: 20%;
    float: left;
    padding: 2%;
    display: inline;
    .intro {
      h2 {
        display: none
      }
      .recipe-image {
        width: 100%; //500/900
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
        float: left;
        img {
          width: 100%;
        }
      }
    }
    .content {
      display: none;
    }
  }
}

